$blue: #0d345d;
$fontBody: 20;

* {
  padding: 0;white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

html, body {
  height: 100%;
}

@mixin font-size($value) {
  font-size: $value*$fontBody + px;
  //font-size: ($rem) + rem;
}

body {
  font-family: 'Pragmatica', arial;
  @include font-size(1);
  color: $blue;
}

header {
  background-color: #eee;
  color: $blue;
  padding: 10px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.table {
  display:table;
  width:100%;
}

.row {
  display: table-row;
}

.cell1, .cell2, .cell3 {
  display:table-cell;
  padding: 10px;
}

.cell1 {
  width: 25%;
  text-align: right;
}
.cell2 {
  width: 15%;
  text-align: center;
}
.cell3 {
  width: 60%;
  text-align: left;
}

.left {
  float: left;
}
.right {
  float: right;
}

span {
  margin-top: 10px;
  display: block;
  @include font-size(0.8);
}

.no-platform {
  float: right;
}

h4 {
  font-weight: normal;
}

.desactivated {
  color: #999;
}

.late {
  color: #c91d30;
}