$blue: #0d345d;
$fontBody: 20;

* {
  padding: 0;white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

html, body {
  height: 100%;
}


// MIXINS
@mixin font-size($value) {
  font-size: $value*$fontBody + px;
  //font-size: ($rem) + rem;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
     -o-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
// END MIXINS

body {
  font-family: 'Pragmatica', arial;
  @include font-size(1);
  color: $blue;
}

header {
  background-color: #eee;
  color: $blue;
  padding: 10px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.table {
  display:table;
  width:100%;
  margin: 20px 0px;
}

.row {
  display: table-row;
}

.cell1, .cell2, .cell3 {
  display:table-cell;
  padding: 0px 10px;
  vertical-align: top;
}

.cell1 {
  width: 25%;
  text-align: right;
}
.cell2 {
  width: 15%;
  text-align: center;
}
.cell3 {
  width: 60%;
  text-align: left;
}

.left {
  float: left;
}
.right {
  float: right;
}

span {
  margin-top: 10px;
  display: block;
  @include font-size(0.8);
}

.no-platform {
  float: right;
}

.stop {
  @include font-size(1.2);
}

.desactivated {
  color: #999;
}

.late {
  color: #c91d30;
}

.circle {
  border: 5px solid #b4cfdd;
  @include border-radius(50%);
  width: 25px;
  height: 25px;
  margin: auto;
}
.line {
  width: 3px;
  height: 100%;
  background-color: #b4cfdd;
  margin: auto;
}

.line-stoped {
  .circle {
    border: 3px solid $blue;
    width: 20px;
    height: 20px;
    background-color: #c2d65f;
  }
  .line {
    background-color: #c2d65f;
    border: 3px solid $blue;
    border-top: none;
    border-bottom: none;
    margin-top: -3px;
  }
}

.train {
  width: 40px;
  position: absolute;
  top: 70px;
}