<header>
  <strong>{{model.journey.scheduled}}</strong>
  {{model.journey.origin}} to {{model.journey.destination}}
</header>

<img class="train" src="images/train.png" />

<div class="table" ng-style="{{gridHeight}}">
  <div class="row" ng-repeat="stop in model.callingPoints" ng-class="{'desactivated':stop.scheduled < currentHour}">

    <div class="cell1">
      <h3>{{stop.scheduled}}</h3>
      <span ng-class="{'late':stop.scheduled < stop.expected && stop.scheduled > currentHour}">{{stop.expected}}</span>
    </div>

    <div class="cell2" ng-class="{'line-stoped':stop.scheduled < currentHour}">
      <div class="circle"></div>
      <div class="line" ng-if="model.callingPoints.length > $index + 1"></div>
    </div>

    <div class="cell3">
      <div class="stop">{{stop.station}}</div>
      <span class="left" ng-class="{'late':stop.scheduled < stop.expected && stop.scheduled > currentHour}" ng-hide="onTime[$index]">{{late[$index]}} late</span>
      <span class="left" ng-show="onTime[$index]">On time</span>
      <span class="right">
        Platform <strong>{{stop.platform}}</strong>
        <div class="no-platform" ng-if="stop.platform === ''">&nbsp;-</div>
      </span>
    </div>

  </div>
</div>